version: '3'
services:
  bookstore:
    build: .
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://db:27017/bookstore
  db:
    image: "mongo"
